.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &__temperature {
    font-size: 143px;
    font-weight: bold;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
  }

  &__city {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
  }

  &__datetime {
    display: flex;
    font-size: 18px;
    gap: 1em;
    flex-direction: row;
    align-items: flex-start;
    margin-top: -15px;
  }

  &__icon {
    margin-left: 20px; /* Espacio entre la información y el icono */
    img {
      width: 70px;
      height: 70px;
    }
  }
}

/* Media queries for tablets */
@media (max-width: 1200px) and (min-width: 801px) {
  .current-weather {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10.5em;
    margin-top: 2.5em;
    gap: 2.5em;
    width: auto;
    
  }

  .current-weather__temperature {
    width: 161px;
    height: 141px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 141px;
    /* identical to box height */
    letter-spacing: -0.08em;

    color: #ffffff;
  }

  .current-weather__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -2em;
  }

  .current-weather__city {
    width: 189px;
    height: 53.01px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #ffffff;
  }

  .current-weather__datetime {
    display: flex;
    flex-direction: row;
    width: 184.89px;
    height: 14px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }

  .current-weather__icon {
    margin-left: 20px;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

/* Media queries for mobile devices */
@media (max-width: 800px) {
  .current-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 13em;
    margin: 0 -2.8em;
    gap: 0.3em;
  }

  .current-weather__temperature {
    font-weight: 400;
    font-size: 64px;
    line-height: 100px;
    color: #ffffff;
  }

  .current-weather__info {
    width: 60%;
    display: flex;
    text-align: left;
  }

  .current-weather__city {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
    width: 5em;
  }

  .current-weather__datetime {
    font-size: 10px;
    gap: 0.5em;
    flex-direction: row;
  }
}
