.search-bar-container {
  position: relative; 
}

.search-bar {
  display: flex;
  box-sizing: border-box;
  width: 371px;
  height: 50px;
  margin-top: 2.6em;

  &__input {
    flex-grow: 1;
    margin-right: 8px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__button {
    background-color: transparent;
    color: rgba(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 30px;
  }

  .suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%; /* Justo debajo del input */
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;

    &.loading {
      opacity: 0.5;
    }

    li {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

/* Media queries for tablets */
@media (max-width: 1024px) {
  .search-bar {
    width: 30%;
    margin-top: 1.5em;
  }

  .search-bar__input {
    font-size: 14px;

    &::placeholder {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .search-bar__button {
    font-size: 23px;
  }
}

/* Media queries for mobile devices */
@media (max-width: 767px) {
  .search-bar {
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
    margin-top: 0;
    height: 40px;
    border-bottom: 1px solid #ffffff;
  }

  .search-bar__input {
    font-size: 12px;
    margin: 0;
    width: 8.5em;
    padding: 0;

    &::placeholder {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .search-bar__button {
    font-size: 12px;
  }

  .suggestions-list {
    max-height: 150px;
  }
}
