.weather-forecast {
  padding: 1em;
  position: absolute;
  right: 0;
  width: 27em;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); // Para Safari y otros navegadores webkit
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  &__searchbar {
    margin-top: 2.6em;
    position: relative; /* Asegura que el dropdown se posicione correctamente */

    .search-bar {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 50px;

      &__input {
        flex-grow: 1;
        margin-right: 8px;
        padding: 8px;
        border: none;
        border-radius: 20px;
        background-color: transparent;
        color: white;
        font-size: 16px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
        }
      }

      &__button {
        background-color: transparent;
        color: rgba(255, 255, 255);
        border: none;
        cursor: pointer;
        font-size: 30px;
      }

      .suggestions-list {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        animation: fadeIn 0.3s ease-in-out;

        &.loading {
          opacity: 0.5;
        }

        li {
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #09f;
        animation: spin 1s ease infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__title,
  &__title2 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }

  &__title {
    margin: 2em 0.5em;
  }

  &__title2 {
    margin: 5.5em 2.7em 2.5em 0.7em;
  }

  &__detail {
    width: 354px;
    height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__details {
    padding: 0.1em 0.7em;
  }

  &__hourly {
    padding: 0.1em 0.7em;
  }
}

.divider {
  margin: 4em 3em -3.5em 0.7em;
}

.detail__info,
.detail__icon,
.hourly__info,
.hourly__box {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
}

.hourly__temp {
  margin: 0em 1em;
}

.hourly__info {
  font-size: 24px;
  padding: 0 1.1em;
}

.hourly__box {
  gap: 1.5rem;
}

/* Media queries for tablets */
@media (max-width: 1200px) and (min-width: 768px) {
  .weather-dashboard {
    flex-direction: column;
    align-items: center;
  }

  .weather-forecast__divider {
    width: 90%;
    margin-top: 1.1em;
  }

  .weather-forecast_detailcontainer {
    margin-left: 1em;
  }

  .daily-forecast {
    padding: 0 2em;
  }

  .divider {
    display: none;
  }

  .current-weather {
    position: relative;
    top: 10%;
    left: 5%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .weather-forecast {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    height: auto;
    width: 100%;
    margin-top: 10px;
    border: none;

    &__searchbar {
      display: none;
    }
  }

  .weather-forecast__title2 {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }

  .weather-forecast__title {
    text-align: center;
    font-size: 18px;
    margin-top: 7.5em;
    margin-left: 4em;
  }

  .divider {
    margin: 2em 1em;
  }

  .weather-forecast__details {
    margin: -3.2em 0 0 2.3em;
  }

  .weather-forecast__detail {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 1.5em;
    margin-left: 3em;
  }

  .weather-info {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
  }

  .detail__info,
  .detail__icon,
  .hourly__info,
  .hourly__box {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7);
  }
  .detail__icon{
    margin-right: -1.5em;
  }
  

  .weather-forecast__hourly {
    display: flex;
    flex-direction: column;
    width: 22em;
  }
}

/* Media queries for mobile devices */
@media (max-width: 767px) {
  .weather-dashboard {
    flex-direction: column;
    align-items: center;
  }

  .weather-forecast__divider {
    width: 90%;
    margin-top: 1.1em;
  }

  .weather-forecast_detailcontainer {
    padding: 0 1em;
  }

  .daily-forecast {
    padding: 0 2em;
  }

  .divider {
    display: none;
  }

  .current-weather {
    position: relative;
    top: 10%;
    left: 5%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .weather-forecast {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    height: auto;
    width: 100%;
    margin-top: 10px;
    border: none;

    &__searchbar {
      display: none;
    }
  }

  .weather-forecast__title2 {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }

  .weather-forecast__title {
    text-align: center;
    font-size: 14px;
    margin-top: 3em;
    margin-left: 5em;
  }

  .divider {
    margin: 2em 1em;
  }

  .weather-forecast__details {
    margin: -3.2em 0 0 2.3em;
  }

  .weather-forecast__detail {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0.4em;
    margin-left: -2em;
  }

  .weather-info {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
  }

  .detail__info,
  .detail__icon,
  .hourly__info,
  .hourly__box {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
  }

  .weather-forecast__hourly {
    display: flex;
    flex-direction: column;
    width: 22em;
  }
}
